.tl_listing_checks {
    margin: 2px 0 10px !important;
    width: 100%;
}

.tl_listing_checks tr.odd td {
    background-color: #FAFAFA;
}

#tl_uptimerobot #saveNcreate {
	visibility: hidden;
}


.snowstorm { color: white; visibility: hidden; }
